body, h1, h2, h3, p, ul, li, table {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.search-container {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 8px;
  width: 60%;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #2980b9;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #3498db;
  color: #fff;
}

.clients-list-container tbody tr,
.company-list tbody tr {
  cursor: pointer;
}

.user-details-container {
  margin-top: 105px;
}

.company-list {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
