

.top {
  background: linear-gradient(135deg, #f6f4e8, #E59560);
  color: #1D3124;
  padding: 20px;
  text-align: left;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #BACEC1;
  margin: 0;
  padding: 0;
  left: 100;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.search-container {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 20%;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #E59560;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #1D3124;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #1D3124;
  color: #fff;
}

.clients-list-container tbody tr,
.company-list tbody tr {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clients-list-container tbody tr.selected,
.company-list tbody tr.selected {
  background-color: #d4edda;
}


.company-list {
  margin-top: 20px;
  width: 100%;
}

.list-container {
  max-height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #1D3124 #f9f9f9;
}

.company-list,
.user-details-container {
  max-height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #1D3124 #f9f9f9;
}

.list-container-user {
  position: relative;
  top: 0;
  right: 0;
  max-height: 400px;
  width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}
